.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-input {
    width: 60%;
    padding: 40px;
}

input, button, .card {
    border: 2px solid black !important;
}

.form-control:focus {
    box-shadow: none;
}

.search-btn {
    padding: 0 20px 0 20px;
    background-color: #F45746;
    color: white;
    border-color: #F45746;
}

.poke-card {
   display: flex;
   text-align: center;
}

.card {
    background-color: #F45746 !important;
}

.type {
    text-transform: capitalize;
}