.header {
    background-color: #F45746;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.logo {
    width: 15%;
    min-width: 200px;
    max-width: 300px;
}

.navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.nav-link {
    text-align: center;
    color: white !important;
}

.nav-links {
    justify-content: end !important;
    font-size: 2rem !important;
}

.link-1, .link-2 {
    border-right: 3px solid white !important;
}

@media only screen and (max-width: 768px) {
    .link-1, .link-2 {
        border-right: 0px !important;
        border-bottom: 3px solid white !important;
}
  }