.header {
    background-color: #F45746;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.logo {
    width: 15%;
    min-width: 200px;
    max-width: 300px;
}

.navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.nav-link {
    text-align: center;
    color: white !important;
}

.nav-links {
    justify-content: end !important;
    font-size: 2rem !important;
}